@model LidavBankProj.Models.TransactionModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransactionModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DstAccount.AccountHolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DstAccount.AccountHolder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrcAccount.AccountHolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrcAccount.AccountHolder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
